.border-side{
	border: 1px solid grey;
	height: 150px;
}
.border-row{
	border: 1px solid grey;
	/*height: 25px;*/
}
tr{
	border: 1px solid grey;
	width: 20px;
}
p{
	margin:0;
}
.container {
    width: 750px;
}